@font-face {
    font-family: "Pokemon";
    src: url("../font/VCR_OSD_MONO_1.001.ttf");
}

*{
   margin: 0;
   padding: 0;
   font-family: Pokemon;
}

section>h1 {
   color: white;
   margin-bottom: 20px;
}

section {
    position: relative;
    height: 100vh;
    background-color: #1c2431;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pokedex {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(255,32,32,1) 0%, rgba(235,0,0,1) 31%, rgba(147,21,21,1) 100%);
    width: 650px;
    box-shadow: 2px 10px 12px black;
}

#left {
    border-right: 1px solid black;
}

#right {
    border-left: 1px solid black;
}

.dexside {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
}

#descricao {
    width: 90%;
    background-color: #f67272;
    margin: 10px;
    text-align: justify;
    padding: 5px;
    height: 180px;
    overflow: auto;
    border-radius: 5px;
    color: #554949;
}

#titulo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

#tipos {
    margin: 5px;
}

#tipos > span {
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 0.7rem;
    box-shadow: 1px 2px 5px #444;
}

#evolucoes {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

#busca{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

#busca > input {
    width: 100%;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#busca > select {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid gray;
}

#busca>input, #busca>select {
    height: 30px;
    border: none;
    outline: none;
}

#lista {
    margin-top: 20px;
    width: 90%;
    overflow: auto;
    height: 450px;
}

#lista > table {
    width: 100%;
    background-color: #f67272;
}

#lista td {
    height: 30px !important;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaaaaa;
}

#lista tr:hover {
    background-color: red;
    cursor: pointer;
}

.pokemonSelecionado {
    background-color: #9a1b1b !important;
    color: white;
}        

.nomePokemon {
    text-align: left;
}

#tipos > span{
    margin-left: 2px;
    margin-right: 2px;
}